.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.movie-list,
.favorite-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 10px;
  column-gap: 5px;
}