.movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
    padding-left: 10px;
}

.movie-card {
    width: calc(20.33% - 75px);
    border: 2px solid black;
    margin-bottom: 20px;
    position: relative;
}

.movie-poster {
    width: 100%;
    height: 50VH;
    display: block;
}

.movie-info {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    text-align: center;
}

.movie-action {
    cursor: pointer;
}

.movie-action:hover {
    text-decoration: none;
    color: #ff0000;
}

@media screen and (max-width: 768px) {
    .movie-card {
        width: calc(50% - 20px);
    }
}

@media screen and (max-width: 576px) {
    .movie-card {
        width: 100%;
    }
}